:root {
    --main-heading-color: #a393bf; 
    --heading-2-color: #a6a670;
    --background-color: #F5F5DC ; 
    --text-color: #626267 ; 
    --extra-color: #984447 ;  
}

body{
    color: var(--text-color);
    background-color: var(--background-color);
    
}

h1{
   color: var(--main-heading-color);  
   text-align: center;
   font-size: 70;
}

h2{
    color: var(--extra-color);
    background-color: var(--heading-2-color);
    padding: 15px;
    border-radius: 10px;
}



img {
    width: 200px;
    height: auto; 
}

#hobbies {
    display: flex;
    flex-direction: row;
    column-gap: 300px;
}

.text-image-appear {
    background-color: var(--heading-2-color);
    padding: 3px;
    border-radius: 5px; 
    cursor: pointer;

}

.hobbies-text {
    font-size: 20; 
    font-weight: bold;
}

.love-text {
    text-align: center;
    background-color: var(--extra-color);
    color: var(--background-color)
    
}